html {
  overflow: hidden;
}

body {
  margin: 0;
  background-color: rgb(65, 122, 168);
  margin-top: 0;
}
.pageloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  transition: all 0.1s linear 0.5s;
}
.loader {
  width: 40%;
  height: auto;
}
.container {
  opacity: 0;
  width: 1200px;
  pointer-events: none;
  height: auto;
  margin: auto;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-out 0.1s;
  overflow-y: scroll;
  overflow-y: unset;
}
.container.visible {
  pointer-events: all;
  opacity: 1;
}
.header {
  min-width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px) brightness(1.2);
  border-radius: 1.5px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.hamMenu {
  width: 50px;
  height: auto;
  position: absolute;
  right: 45px;
  visibility: hidden;
}
.header img {
  width: 40px;
  margin-left: 30px;
}
.header p {
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
}
.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  position: absolute;
  margin: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.header li {
  float: right;
}
.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Special Elite', cursive;
  color: black;
  border-radius: 20px;
  background-color: rgba(65, 122, 168, 0);
  transition: background-color .25s, color .25s;
}
.header li a:hover {
  background-color: rgba(65, 122, 168, 1);
  color: #fff;
}

.header li a.current {
  background-color: rgba(65, 122, 168, 1);
  color: #fff;
}

.underscore {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 0;
}

.body {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
  display: none;
}

/* #fixedPic,
#aboutContainer,
#portfolioSection,
#contactMe {
  scroll-snap-align: start;
} */

#fixedPic {
  background-image: url(images/sunrise-handstand.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  border-radius: 1.5px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  background-position: 30% 50%;
}

#aboutContainer {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5px;
  height: 100vh;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerAbout {
  height: 100px;
  width: 100%;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.aboutSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  padding: 80px 100px;
}
.profilePic img {
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  margin-right: 50px;
}
.aboutMeSummary {
  width: 400px;
  margin-left: 50px;
  font-family: 'Special Elite', cursive;
  line-height: 20px;
  transform: scale(1);
  transition: transform ease-out 0.5s;
}
.aboutMeSummary:hover {
  transform: scale(1.2);
}
#portfolioSection {
  background-color: rgba(255, 255, 255, 0.8);
  height: auto;
  border-radius: 1.5px;
  padding-bottom: 100px;
}
.sectionHeaderA {
  height: 100px;
  width: 100%;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.sectionHeaderB {
  position: relative;
  height: 100px;
  width: 100%;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeaderC {
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.resume-header {
  grid-row: 2;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 50px;
  width: 100%;
}
.resume-header p {
  margin: 0;
}

.portfolioSection p {
  margin: 0;
}
.portfolioBody {
  display: flex;
  justify-content: center;
}
.portfolioContainer {
  width: 700px;
  height: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 3fr;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
  row-gap: 50px;
  cursor: pointer;
}
.portfolioContainer h3 {
  text-align: center;
}
.portfolioContainer img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
  transition: all 0.25s;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
}
.portfolioContainer img:hover {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
}

#resumeSection {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  height: fit-content;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Container around content */
.containerTimeline {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-rows: 100px auto 100px repeat(4, 1fr) 100px;
  grid-template-columns: 100%;
  height: 100%;
  width: 80%;
  perspective: 500px;
}

.containerTimeline .button {
  grid-row: 3;
  width: 150px;
  height: 40px;
  background-color: #fff;
  border: solid 2.5px #ff9f55;
  display: flex;
  color: #000000;
  font-family: 'Special Elite', Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0px auto 40px auto;
  transform: translateZ(0px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.containerTimeline .button:hover {
  background-color: #ff9f55;
  color: #ffffff;
  transform: translateZ(10px);
}
.containerTimeline .button:hover svg {
  fill: #ffffff;
}

.containerTimeline .button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: opacity 0.3s ease-in-out;
}

.containerTimeline .button:hover::after {
  opacity: 1;
}

.containerTimeline .button svg {
  width: auto;
  height: 12px;
  fill: #ff9f55;
  margin-left: 15px;
  transition: all .25s ease-in-out;
}
.containerTimeline .button span {
  transform: translateY(2px);
}

.position .line {
  border-right: dotted 5px #ff9f55;
  height: 100%;
  left: calc(50% - 2.5px);
  top: 38px;
  position: absolute;
}

/* The actual content */
.containerTimeline .content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 24px;
  grid-row: 4/8;
  grid-column: 1;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 6px;
  font-family: 'Special Elite', cursive;
}

.containerTimeline .content .position.right,
.containerTimeline .content .position.left {
  position: relative;
  grid-row: auto;
  display: grid;
  grid-template-columns: 1fr 30px 1fr;
}

.containerTimeline .indicator {
  margin: 18px 7.5px 0px 7.5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff9f55;
  transform: scale(1);
  transition: all 0.25s;
}

.containerTimeline .content .position:hover .indicator {
  transform: scale(1.25);
}

.containerTimeline .content .position.right .date,
.containerTimeline .content .position.left .description-container {
  grid-row: 1;
  grid-column: 1;
  justify-content: flex-end;
}
.containerTimeline .content .position.left .date,
.containerTimeline .content .position.right .description-container {
  grid-row: 1;
  grid-column: 3;
  justify-content: flex-start;
}
.containerTimeline .content .position.left .description-container {
  transform: translateX(-25%);
}
.containerTimeline .content .position.right .description-container {
  transform: translateX(25%);
}

.containerTimeline .content .description-container {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: hidden;
  overflow-y: visible;
  opacity: 0;
  transition: transform 0.5s ease-out 0s, opacity 0.35s ease-out 0.15s;
  pointer-events: none;
}
.containerTimeline .content .position:hover .description-container {
  pointer-events: all;
  opacity: 1;
  transform: translateX(0px);
}

.containerTimeline .content .description {
  position: relative;
  margin: 0px 20px 20px 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 75%;
  height: fit-content;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}
.containerTimeline .content .description p {
  margin: 30px 10px;
}
.containerTimeline .content .position.left .description::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 0 9px 11px;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -9px;
  right: -11px;
  top: 15%;
}
.containerTimeline .content .position.right .description::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 11px 9px 0;
  border-color: transparent #ffffff;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -9px;
  left: -11px;
  top: 15%;
}

.containerTimeline .content .date {
  display: flex;
  height: fit-content;
}
.containerTimeline .content .date span {
  font-size: 20px;
  margin: 20px 15px;
}

.contactMe {
  width: inherit;
  height: calc(100vh - 100px);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
}
.headerContact {
  height: 100px;
  width: 100%;
  padding: 100px 0px 0px 0px;
  font-size: 40px;
  font-family: 'Special Elite', cursive;
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.headerContact p {
  margin: 0;
}

.flex-wrapper {
  position: relative;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer {
  width: 700px;
  height: 400px;
  background-color: rgb(238, 238, 238);
  align-self: center;
  border-radius: 3px;
  box-shadow: rgb(207, 207, 207) 2px 2px 50px 8px;
}
.contactContainer p {
  font-size: 20px;
  padding: 30px 40px;
  padding-bottom: 0;
  line-height: 1.2;
}
.contactFormContainer {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
}
.nameEmail {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 40px 20px 0px;
}
.footer {
  min-width: 1200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(7px) brightness(1.2);
  border-radius: 1.5px;
}
.socialContainer img {
  width: 50px;
  padding: 20px;
  filter: grayscale(.5);
  transition: all .5s ease-out;
  cursor: pointer;
}
.socialContainer img:hover {
  filter: grayscale(0);
}



/* ============================================================================================================================= */







@media (max-width: 1000px) {
  body {
    background-color: rgb(65, 122, 168);
    width:480px;
  }
  .container {
    width: 480px;
    min-width: 480px;
    /* margin:0 auto; */
  }
  .header {
    width: 480px;
    min-width: 480px;
  }
  /* .body {
    width:480px
  } */
  .hamMenu {
    visibility: visible;
    z-index: 999;
    cursor: pointer;
    transform: rotateZ(360deg);
    transition: all .5s ease-out;
  }
  .hamMenu.menu180 {
    transform: rotateZ(90deg)
  }
  /* .hamMenu:focus~ul li {
    transform: translateY(0px);
  } */
  .ul.focusedUserlist li {
    transform: translateY(0px);
  }
  .header ul {
    display: flex;
    flex-direction: column;
    top: 100px;
    z-index: 5;
  }
  .header li  {
    background-color: rgba(255, 255, 255, .8);
    /* border-radius: 20px; */
    color: lightgray;
    transform: translateY(-200px);
    transition: all ease-out .5s;
  }




  #fixedPic {
    background-image: url('/images/handstand-3570722_1280.png');
    background-attachment: fixed;
    background-size: contain;
  }






  #aboutContainer {
    height: auto;
    padding-bottom: 50px;
  }
  .aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0px;
    
  }
  .profilePic img {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  .aboutMeSummary {
    width: 275px;
    margin: 0 auto;
    font-family: 'Special Elite', cursive;
    line-height: 20px;
    transform: scale(1);
    transition: transform ease-out 0.5s;
  }
  .aboutMeSummary:hover {
    transform: scale(1.2);
  }














  .portfolioSection p {
    margin: 0;
    width: 480px;
    height: auto;
  }
  .portfolioContainer {
    width: inherit;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .portfolioContainer img {
    width: 300px;
    height: 250px;
    margin-bottom: 40px;
    border-radius: 5px;
    transition: all 0.25s;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0);
  }
  .portfolioContainer img:hover {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.15);
  }
  #resumeSection {
  }
  .position .line {
    left: 12.5px;
    grid-column: 1;
  }
  .containerTimeline .indicator {
    grid-column: 1;
  }
  .containerTimeline .content .position.right,
  .containerTimeline .content .position.left {
    position: relative;
    grid-row: auto;
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .containerTimeline .content .position.left .date,
  .containerTimeline .content .position.right .date,
  .containerTimeline .content .position.left .description-container,
  .containerTimeline .content .position.right .description-container {
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-end;
  }
  .containerTimeline .content .position.left .date,
  .containerTimeline .content .position.right .date {
    justify-content: flex-start;
  }
  .containerTimeline .content .position.left .description::after, 
  .containerTimeline .content .position.right .description::after {
    border-width: 9px 11px 9px 0px;
    left: -11px;
  }
  .position .line {
    left: 12.5px;
    grid-column: 1;
  }
  .containerTimeline .indicator {
    grid-column: 1;
  }
  .containerTimeline .content .position.right,
  .containerTimeline .content .position.left {
    position: relative;
    grid-row: auto;
    display: grid;
    grid-template-columns: 30px 1fr;
  }
  .containerTimeline .content .position.left .date,
  .containerTimeline .content .position.right .date,
  .containerTimeline .content .position.left .description-container,
  .containerTimeline .content .position.right .description-container {
    grid-row: 1;
    grid-column: 2;
    justify-content: flex-end;
  }
  .containerTimeline .content .position.left .date,
  .containerTimeline .content .position.right .date {
    justify-content: flex-start;
  }
  .containerTimeline .content .position.left .description::after, 
  .containerTimeline .content .position.right .description::after {
    border-width: 9px 11px 9px 0px;
    left: -11px;
  }
  .contactMe {
    height: auto;
  }
  .flex-wrapper {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 60px 0px;
  }
  .contactContainer {
    width: 350px;
    height: auto;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    align-self: center;
    border-radius: 3px;
    box-shadow: rgb(207, 207, 207) 2px 2px 50px 8px;
    overflow: hidden;
  }
  .nameEmail {
    flex-direction: column;
  }
  .contactFormContainer {
    width: 300px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer {
    width: 480px;
    min-width: 480px;
  }
}

