body {
    background-color: lightgray;
    margin-top: 0;
}
.container {
    width: 1250px;
    height: auto;
    margin: auto;
}
.header {
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(127, 193, 212);
    border-radius: 1.5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.header img {
    width: 40px;
    margin-left: 30px;
}
.header p {
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
}
.header ul {
    list-style-type: none;
    margin-left: 375px;
}
.header li {
    float: right;
}
.header li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
}
.header li a:hover {
    background-color: rgb(65, 122, 168);
    border-radius: 20px;
    color: lightgray;
}
.fixedPic {
    background-image: url(images/sunrise-handstand.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 1.5px;
}
.aboutSection {
    height: 500px;
    background-color: lightsalmon;
}